.text {
    font-family: Impact, Charcoal, sans-serif;
}

.menuTab {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 15px;
}

.subhead {
    font-size: 21px;
    margin-top: 15px;
    margin-left: 20px;
}

.stack {
   width: 75px;
   height: 40px;
   box-shadow: 1px 1px 1px grey;
   border-radius: 3px;
   display: inline-block;
   margin: 10px;
}

.stack-black {
    width: 75px;
    height: 40px;
    box-shadow: 1px 1px 1px white;
    border-radius: 3px;
    border: solid 1px white;
    display: inline-block;
    margin: 10px
 }

 #resume {
     margin-top: 5vh;
     margin-left: 50vh
 }

 .description {
     margin-left: 15px;
 }

 .description-dark {
    margin-left: 15px;
}

 .project-link {
     font-family: Impact, Charcoal, sans-serif;
     font-size: 30px;
     border: 1px solid black;
     box-shadow: 3px 3px 3px grey;
     width: 170px;
     display: flex;
     justify-content: center;
     margin-top: 75px;
     cursor: pointer;
     color: black;
 }

 .project-link-dark {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    border: 1px solid white;
    box-shadow: 3px 3px 3px grey;
    width: 170px;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    cursor: pointer;
    color: black;
}
 
 .link-text {
    color: black;
    text-decoration: none;
 }

 .link-text-dark {
    color: white;
    text-decoration: none;
 }

 .project-title {
     margin-left: 5px;
 }